.profile__btn-edit {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: #000;
  background-image: url(../../../images/btn-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .5s;
}

@media (max-width: 700px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
  }
}

.profile__btn-edit:hover {
  opacity: .6;
}
