.profile__avocation {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__avocation {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .profile__avocation {
    text-align: center;
  }
}
