.login-form__form-item {
  padding: 0 0 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  background-color: transparent;
  border-width: 0;
  border-bottom: 2px solid #ccc;
}

.login-form__form-item:last-of-type {
  margin-top: 33px;
}

.login-form__form-item::placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: #ccc;
}
