.login-form {
  margin: 60px auto 0;
  height: fit-content;
  width: 357px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 560px) {
  .login-form {
    margin-top: 40px;
    padding: 0 30px;
    width: 100%;
  }
}
