.profile__info {
  max-width: 530px;
  display: grid;
  grid-template: 1fr / 1fr min-content;
  align-items: baseline;
  column-gap: 20px;
  row-gap: 9px;
}

@media (max-width: 700px) {
  .profile__info {
    max-width: calc(100% - 28px);
    transform: translateX(14px);
    column-gap: 10px;
    margin-bottom: 10px;
  }
}
