.popup__form-item {
  padding: 0 0 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form-item:focus {
  outline-color: rgba(0, 0, 0, .2);
}

.popup__form-item::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(0, 0, 0, .2);
}

.popup__form-item::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(0, 0, 0, .2);
}

.popup__form-item::-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(0, 0, 0, .2);
}

.popup__form-item::placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(0, 0, 0, .2);
}
